<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/script.js"></script>

  <title>Vinyl</title>
  <div class="header">
    <div class="title">
      <h2>Vinyl</h2>
    </div>
    <div class="site-map">
      <div class="map-button">
        <form action="/sign_in">
          <button type="submit">Sign In</button>
        </form>
      </div>
      <div class="map-button">  
        <form action="/sign_up">
          <button type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</head>
