<!DOCTYPE html>
<html>
<% include header %>
<body>

  <div class="splash">
    <img src="/images/vinyl-records-stock-2017-billboard-1548.jpg">
    <h2>This is Vinyl.</h2>
  </div>

  <div>
    <img src="/images/banner_C.jpg" class="banner">
  </div>

  <h2>Records</h2>

  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>

</body>
</html>
