<!DOCTYPE html> 
<html>
<head>
  <title>Vinyl</title>
  <script src="script.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <form action="/signing_up" method="post">
    <div class="credentials">
      <h1>Sign up for Vinyl</h1>
      <div>
        name: <input placeholder="john" required>
      </div>
      <div>
        e-mail: <input type="email" placeholder="johndoe@fake.com" required>
      </div>
      <div>
        password: <input id="password" type="password" placeholder="password" required>
      </div>
      <div>
        confirm-password: <input id="confirm_password" type="password" placeholder="confirm password" required>
      </div>
      <button type="submit">Sign Up</button>
    </div>
  </form>

</body>
</html>
