<!DOCTYPE html> 
<html>
<head>
  <title>Vinyl</title>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="script.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <form action="/signing_up" method="post">
    <div class="credentials">
      <h1>Sign up for Vinyl</h1>
      <div>
        name: <input name="name" placeholder="john" required>
      </div>
      <div>
        e-mail: <input name="email" type="email" placeholder="johndoe@fake.com" required>
      </div>
      <div>
        password: <input name="password" id="password" type="password" placeholder="password" required>
      </div>
      <div>
        <button class="sign_up" type="submit">Sign Up</button>
      </div>
    </div>
  </form>

</body>
</html>
