<!DOCTYPE html> 
<html>
<head>
  <title>Vinyl</title>
  <script src="script.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <form action="/signing_in" method="post">
    <div class="credentials">
      <h1>Sign In</h1>
      <div>
        e-mail: <input type="email" placeholder="johndoe@fake.com" required></input>
      </div>
      <div>
        password: <input type="password" placeholder="password" required></input>
      </div>
      <button type="submit">Sign In</button>
    </div>
  </form>

</body>
</html>
