<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="splash">
    <a href="/home">
      <img src="/images/vinyl-records-stock-2017-billboard-1548.jpg">
      <h2>This is Vinyl.</h2>
    </a>
  </div>
</body>
