html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.header {
  box-shadow: 0px 4px 2px #888888;
}

.title {
  display: inline-block;
}

.site-map {
  margin: 25px 15px;
  float: right;
}

.map-button {
  display: inline-block;
}

.splash {
  background-color: white;
  text-align: center;
  position: absolute;
  padding-top: 5%;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.banner {
  height: 300px;
  width: 100%;
}

.credentials {
  margin-left: 43%;
}

.credentials div {
  padding: 10px;
}

